# Exercise 4.6

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved

In [3]:
path = r'C:\Users\Jaime Andres Suarez\Instacart Basket Analysis'
df_ords = pd.read_pickle(os.path.join(path, '02 Data','Transformed Data', 'orders_products_combined.pkl'))

In [4]:
df_prods = pd.read_csv(os.path.join(path, '02 Data','Transformed Data', 'prods_clean.csv'), index_col=False)

## Determine a suitable way to combine the orders_products_combined dataframe with your products data set

In [5]:

df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,196,1,0
1,2539329,1,1,2,8,0.0,14084,2,0
2,2539329,1,1,2,8,0.0,12427,3,0
3,2539329,1,1,2,8,0.0,26088,4,0
4,2539329,1,1,2,8,0.0,26405,5,0

In [6]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni With Vodka Cream Sauce,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

### Merge on common column ('product_id')

In [7]:
df_merged=df_ords.merge(df_prods, on='product_id',indicator=True)

NumExpr defaulting to 4 threads.

In [8]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

### Save file

In [9]:
df_merged.to_pickle(os.path.join(path, '02 Data','Transformed Data', 'df_merged.pkl'))