# Task 4.8

### Import Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 1. Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise.

### Load the file

In [3]:
path = r'C:\Users\Jaime Andres Suarez\Instacart Basket Analysis'
df=pd.read_pickle(os.path.join(path,'02 Data', 'Transformed Data', 'df_merged.pkl'))
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_period_of_day
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy day,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy day,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy day,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy day,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy day,Most orders

### Cleaning data - Some prices are higher than 100, convert them into NaN before creating flags

In [4]:
df.loc[df['prices']>100,'prices']=np.nan

NumExpr defaulting to 4 threads.

## 2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [5]:
df.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## 3. Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.
#### The complete dataset is bigger, so we have a higher count of records and the complete collection of departments. But mathematically speaking results are somewhat expected.

## 4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [6]:
df['max_order']=df.groupby(['user_id'])['order_number'].transform(np.max)

### Derive a new column with the maximum order per customer

In [7]:
df.loc[df['max_order']>40, 'loyalty_flag']= 'Loyal customer'

### Create the If-statements to assign the flag

In [8]:
df.loc[(df['max_order']>10) & (df['max_order']<=40), 'loyalty_flag']='Regular customer'

In [9]:
df.loc[df['max_order']<=10, 'loyalty_flag']= "New customer"

### Create a frequency table with the loyalty flag count

In [10]:
df['loyalty_flag'].value_counts(dropna=False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

## 5. Determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [11]:
df.groupby('loyalty_flag').agg({'prices':['mean','min','max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.773575  1.0  25.0
New customer      7.801206  1.0  25.0
Regular customer  7.798262  1.0  25.0

## 6. Determine whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

### Derive the new column with the average of price per customer

In [12]:
df['price_avg']=df.groupby(['user_id'])['prices'].transform(np.mean)

In [13]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_period_of_day,max_order,loyalty_flag,price_avg
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy day,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy day,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy day,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy day,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy day,Most orders,10,New customer,6.367797

### Create the If-statements to assign the flag

In [14]:
df.loc[df['price_avg']>=10, 'spend_category']='High spender'

In [15]:
df.loc[df['price_avg']<10, 'spend_category']= 'Low spender'

### Create a frequency table with the flag count

In [16]:
df['spend_category'].value_counts(dropna=False)

Low spender     32285259
High spender      119600
Name: spend_category, dtype: int64

## 7. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column

### Derive the new column with the median of  “days_since_prior_order” column

In [17]:
df['days_since_last_order_mdn']=df.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

### Create the If-statements to assign the flag

In [18]:
df.loc[df['days_since_last_order_mdn']>20, 'customer_regularity']='Non-frequent customer'

In [19]:
df.loc[(df['days_since_last_order_mdn']>10) & (df['days_since_last_order_mdn']<=20), 'customer_regularity']='Regular customer'

In [20]:
df.loc[df['days_since_last_order_mdn']<=10, 'customer_regularity']='Frequent customer'

### Create a frequency table with the flag count

In [21]:
df['customer_regularity'].value_counts(dropna=False)

Frequent customer        22796659
Regular customer          6921472
Non-frequent customer     2686728
Name: customer_regularity, dtype: int64

## 9. Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder

In [22]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range_loc,busiest_day,busiest_period_of_day,max_order,loyalty_flag,price_avg,spend_category,days_since_last_order_mdn,customer_regularity
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,both,Mid-range product,Regularly busy day,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy day,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy day,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,both,Mid-range product,Least busy day,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,both,Mid-range product,Least busy day,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer

In [23]:
df.to_pickle(os.path.join(path, '02 Data','Transformed Data', 'orders_products_combined_2.pkl'))