# 1 Importing Libraries

In [3]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# 02. Working with Python Data types

## Code 3 different ways of reaching a result of 100 by adding or subtracting numeric variables

In [1]:
a = 20
b = 10
c = 30

In [3]:
print((c+c+b+b+a)

100

In [6]:
print((c*5)-(a*2)-b)

100

In [7]:
print(b*b)

100

## Code 2 floating-point variables and divide them by each other

In [8]:
x = 3.14
y = 2.5

In [9]:
print(x/y)

1.256

## Construct a short word made of separate strings (youâ€™ll need to concatenate some strings!)

In [13]:
d = 'H'
e = 'e'
f = 'l'
g = 'o'
h = '!'

In [14]:
print(d+e+f+f+g+h)

Hello!

## Construct 2 short sentences made of separate strings

In [22]:
i = 'Hello '
j = 'world!'
k = 'Jupyter '
l = 'is '
m = 'Fun'

In [18]:
print(i+j)

Hello world!

In [23]:
print(k+l+m+h)

Jupyter is Fun!

## At the bottom of your file, include a command that makes a string appear 100 times

In [29]:
n = 1
while n <= 100:
    print(i)
    n = n+1

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello